body {
    font-family: "VT323", monospace;
    font-weight: 800;
    font-size: 22px;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
   text-align: center;
}

  
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
header {
    background-image: url(../img/ImagenFondoPortada.png);
    color: rgb(0, 0, 0);
    padding: 15px ;
    height: 220px;
    text-align: center;
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 3%;
    border-radius: 8px;
}
nav ul {
    list-style-type: none;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    font-size: 25px;
}

nav ul li a {
    color: rgb(255, 221, 0);
    text-decoration: none;
    padding: 10px 20px; /* Ajusta el padding según desees */
    border: 2px solid transparent; /* Establecemos un borde inicialmente transparente */
    display: inline-block; /* Aseguramos que los enlaces se comporten como bloques */
    transition: background-color 0.5s ease, color 0.5s ease; /* Hacemos la transición del color de fondo y del texto más lenta */
}

nav ul li a:hover {
    background-color: black; /* Cambiamos el color de fondo a negro cuando el cursor se pasa sobre el enlace */
    border-color: rgb(255, 221, 0); /* Mantenemos el color del borde amarillo */
    color: rgb(255, 221, 0); /* Cambiamos el color del texto a amarillo cuando el cursor se pasa sobre el enlace */
}



.section {
    border: solid;
    border-color: black;
    border-width: 3%;
    border-radius: 8px;
    background-image: linear-gradient(to right, #4ab9cd, #85d7cf, #4ab9cd);
   
    ;
   
    margin: 20px 0;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.section h2{
    justify-content: center;
    display: flex;
}
.section p{
    justify-content: center;
    display: flex;
}

.portada {
    width: 50%; /* Ajustar el tamaño de la imagen */
    
    display: block;
    margin: 0 auto 20px;
}
footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.anuel1 {
    width: 50%; /* Ajustar el tamaño de la imagen */
    display: block;
    margin: 0 auto 20px;
}

h1 {
    font-size: 60px;
}