/* Estilos generales */
body {
    font-family: "VT323", monospace;
    font-weight: 800;
    font-size: 25px;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    padding: 20px;
}

header {
    background-image: url(../img/ImagenFondoPortada.png);
    color: rgb(0, 0, 0);
    padding: 1px;
    text-align: center;
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 3%;
    border-radius: 8px;
}

video {
    margin-top: -10px;
    margin-bottom: 30px;
    width: 50%;
    height: auto;
}

.portada {
    width: 50%; 
    display: block;
    margin: 0 auto 20px;
}

footer {
    background-image: linear-gradient(to right, #4ab9cd, #85d7cf, #4ab9cd);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border: solid;
    border-color: black;
    border-width: 3%;
    border-radius: 8px;
}

h1 {
    font-size: 60px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 60px;
}

nav ul li {
    display: inline;
    margin: 10px;
    font-size: 30px;
}

nav ul li a {
    color: rgb(255, 221, 0);
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    display: inline-block;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav ul li a:hover {
    background-color: black;
    border-color: rgb(255, 221, 0);
    color: rgb(255, 221, 0);
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

#button button {
    font-family: "VT323", monospace;
    font-size: 25px;
    background-color: #18555e; 
    border-color: rgb(255, 221, 0);
    color: rgb(255, 221, 0);
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    display: inline-block;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    animation: rotate 2s infinite alternate; 
}

#button button:hover {
    background-color: black; /* Cambio de fondo al pasar el cursor encima */
    border-color: rgb(255, 221, 0);
    color: rgb(255, 221, 0);
    animation: rotate 2s infinite alternate; /* Mantener la animación al pasar el ratón sobre el botón */
}

.section {
    border: solid;
    border-color: black;
    border-width: 3%;
    border-radius: 8px;
    background-image: linear-gradient(to right, #4ab9cd, #85d7cf, #4ab9cd);
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#PasosDescarga ol {
    text-align: center; 
    list-style-position: inside; 
}

#CONTROLES ul {
    list-style-type: none; /* Oculta los puntos de la lista */
}

#Personajes ul{
    text-align: center; 
    list-style-position: inside; 
}

#BandaSonora{
    text-align: center; 
    list-style-position: inside; 
}

.Desarrolladores {
    width: 40%; 
    display: block;
    margin: 20px auto;
    border: solid;
    border-color: black;
    border-width: 3%;
    border-radius: 8px;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

.FotosJuego {
    
    width: 20%; 
    display: block;
    margin: 20px auto;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    nav ul li {
        font-size: 16px;
    }
}

/* Estilos para tabletas y dispositivos más grandes */
@media only screen and (min-width: 601px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }
}
